* {
  margin: 0;
  padding: 0;
  /*list-style: none;*/
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
#menu_control {
  position: absolute;
  z-index: -2; /*let the check box disapper*/
  opacity: 0; /*make sure the check box won't appear*/
}
.navBar {
  height: 56px;
  background-color: #1c6dd0;
  position: relative;
  opacity: 0.9;
}
.navBar a:hover {
  color: #fed1ef;
}
.logo_box {
  padding: 6px 0 6px 20px;
}
.logo_box a {
  text-decoration: none;
  font-size: 18px;
  color: #fa58b6;
  font-weight: bold;
  display: block;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.menu_btn {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
}
.menu_btn span {
  opacity: 0;
}
.menu_btn::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 2px;
  width: 36px;
  background-color: whitesmoke;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0px 8px 0px whitesmoke, 0px -8px 0px whitesmoke;
}
nav {
  width: 30%;
  height: calc(100vh - 50px);
  background-color: #1c6dd0;
  position: absolute;
  top: 50px;
  right: -100%; /*control of the menu in or out*/
  transition: 0.5s;
}
nav a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  padding: 10px 20px;
  /*border-bottom: 1px solid #fcc;*/
}
#menu_control:checked ~ .navBar nav {
  right: 0;
}
img {
  vertical-align: bottom;
}
.banner img {
  width: 100%;
}
.item_group {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
.title {
  background-color: #a3e4db; /* 84cdee */
  padding: 26px 0;
  color: aliceblue;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

hr {
  margin: 10px 0;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about__content {
  width: 70%;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
.item {
  margin: 0 30px;
}
h3 {
  font-size: 18px;
  font-weight: normal;
}
.exp_wrap {
  width: 80%;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0;
  margin-bottom: 20px;
}
.experience .text {
  padding: 20px;
}
.text a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #1c6dd0; /* 0000cd */
  font-weight: bold;
  /* line-height: 1.5; */
}
.text p {
  color: brown;
  font-style: italic;
  white-space: nowrap;
  line-height: 1.5;
}
.experience ul {
  line-height: 1.5;
  padding-left: 25px;
  font-size: 0.9rem;
  /*list-style-type: disc;*/
}
.duration {
  padding: 20px 40px;
  background-color: #fff8f3; /* f0f8ff */
  color: #aaa;
  font-size: 14px;
  border-radius: 2px;
}
h5 {
  font-weight: normal;
  line-height: 2.5;
  color: brown;
}
.education .wrap .item {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(79, 91, 141);
  padding: 20px 20px;
  margin-bottom: 30px;
}
.item a {
  text-decoration: none;
  font-size: 18px;
  color: #1c6dd0;
  font-weight: bold;
}
.skills .item .text {
  text-align: center;
  font-size: 18px;
  padding: 0 0 20px 0;
}
.icon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #fed1ef;
  font-size: 16px;
  text-align: center;
  color: #1c6dd0;
}
.contact .item .text {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}
footer {
  background-color: #333;
  color: #aaa;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .item_group {
    display: flex;
  }
  .menu_btn {
    display: none;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    position: relative;
    right: 0;
    display: flex;
    width: auto;
    height: auto;
    top: 0;
    background-color: transparent;
  }
  nav a {
    border-bottom: none;
  }
  .item .text h3 {
    padding: 0 200px;
    line-height: 2.5;
  }
  .experience .exp_wrap {
    width: 760px;
    /* margin: auto; */
    margin-bottom: 40px;
  }
  .education .wrap .item {
    width: 50%;
  }
  h3 {
    line-height: 1.5rem;
  }
}
